<div class="container-fluid px-0">
  <div class="row mb-2 justify-content-start align-items-center">
    <div class="col-4 ms-1 d-flex align-items-center justify-content-start">
      <div class="dropdown statusDropdown">
        <button class="dropdown-custom dropdown-toggle d-flex align-items-center justify-content-between" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>
             {{'discover.filterBy'| translate}}
          </span>
          <span class="resultQuery"
                *ngIf="!!rpq.status else NoStatus">
            {{'contact.status.' + rpq.status |translate}}
          </span>
          <ng-template #NoStatus>
            <span class="resultQuery">{{'discover.all'|translate}}</span>
          </ng-template>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="filterDropdown">
          <li class="input-group">
            <button (click)="onChangeStatus('')" class="dropdown-item">
              {{'discover.all'|translate}}
            </button>
          </li>
          <li *ngFor="let filter of filterOptions" class="input-group">
            <button class="dropdown-item"
                    (click)="onChangeStatus(filter)">
              {{'contact.status.' + filter | translate}}
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-start">
      <div class="dropdown statusDropdown">
        <button class="dropdown-custom dropdown-toggle d-flex align-items-center justify-content-between" type="button"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>
          {{'discover.orderBy'|translate}}
        </span>
          <span class="resultQuery">
          {{'contact.order.' + rpq.order|translate}}
        </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="filterDropdown">
          <li *ngFor="let order of orderOptions" class="input-group">
            <button class="dropdown-item"
                    (click)="onChangeOrder(order)">
              {{'contact.order.' + order | translate}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-template [ngIf]="rpr.results.length>0" [ngIfElse]="NoContacts">
        <div *ngFor="let request of rpr.results" class="p-0">
          <app-request-job-card (changeStatus)="onChangeChildStatus()" [request]="request"></app-request-job-card>
        </div>
      </ng-template>
      <ng-template #NoContacts>
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="container mt-2 d-flex align-items-center justify-content-center">
            <p class="m-0 text-center p-4" style="font-size: 16px">
              {{'dashboard.Contact.Empty' | translate}}
            </p>
          </div>
        </div>
      </ng-template>
      <app-pagination *ngIf="rpr.totalPages>1"
                      (changePage)="onChangePage($event)"
                      [currentPage]="rpr.page"
                      [totalPages]="rpr.totalPages">
      </app-pagination>
    </div>
  </div>
</div>
