
.bgImg {
  background-image: url("../../assets/images/landingPageBG.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.noJobsFound {
  height: 300px;
  width: auto;
  background-color: white
}

p {
  margin: 0;
}


.photoText {
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 6px black;
}

.inputBtn {
  border-radius: 0 8px 8px 0 !important;
  background-color: var(--primary-color);
  color: white;
}

.inputBtn:hover {
  transition: 150ms linear;
  color: rgba(255, 255, 255, .9);
}

.suggestionBtn {
  border-radius: 8px 8px 8px 8px !important;
  border: none;
  padding: 8px 16px;
  width: 120px;
  font-size: 12px;
  background-color: var(--tertiary-color);
}

.suggestionBtn:hover {
  background-color: rgba(0, 51, 89, 0.9);
  color: white;
  transition: 150ms linear;
}

.inputRadius {
  color: black !important;
  border-radius: 8px 0 0 8px !important;
}

.inputRadius::placeholder {
  color: black !important;
}

.stepHeader {
  font-size: 18px;
  font-weight: bold;
}

.stepBody {
  font-size: 16px;
}

.stepSectionTitle {
  font-size: 24px;
  font-weight: bold;
}

.category {
  padding: 10px !important;
  background-color: var(--quaternary-color) !important;
}

.iconsColor {
  color: #003B6D;
}

.jobProvideImg {
  border-radius: 8px;
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.learnMoreBtn {
  font-size: 16px;
  background-color: #fff;
  color: var(--primary-color);
  border: none;
  box-shadow: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: bold;
}

.joinUsTitle {
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.howItWorksText {
  word-break: normal;
}
