.footer {
  margin: 0;
  font-size: 16px;
}

.footerLang {
  cursor: pointer;
  color: black;
  text-decoration: none;
  transition: hover 1s;
}

.footerLang:hover {
  color: #003359;
}

.active {
  color: rgb(0, 104, 192);
  font-weight: 500;
}
