<div class="container-lg userContainerProfile pb-3 px-2">
  <div class="row">
    <!-- USER PICTURES -->
    <div class="col-12 px-0">
      <div class="container-fluid px-0 position-relative backgroundImageContainer">
        <img alt="profile cover picture" [src]="user.coverImage"
             class="backgroundImage">
        <!-- <c:choose>
          <c:when test="${loggedUser.coverImage == null}">
          </c:when>
          <c:otherwise>
            <img alt="profile cover picture" src="<c:url value='/user/images/profile/${loggedUser.coverImage.id}'/>"
              class="backgroundImage">
          </c:otherwise>
        </c:choose> -->
        <div class="profileBackgroundPic">
          <!-- <c:url value="/user/account/updateCoverImage" var="postCoverImage" />
          <form:form modelAttribute="coverImageForm" id="changeCoverForm" type="hidden" action="${postCoverImage}"
            method="POST" enctype="multipart/form-data">
            <input type="file" id="coverInputFile" name="coverImage" hidden accept=".png,.jpg,.jpeg" />

            <button type="button" class="d-flex align-items-center justify-content-center" id="changeCoverImageButton"
              style="width: 224px">
              <span id="coverCamaraIcon">
                <fa-icon [icon]="['fas', 'camera']" class="me-2"></fa-icon>
                <span>
                  {{'profilePage.picture.changeBg' | translate}}
                </span>
              </span>
              <span id="coverLoadingSpinner" class="spinner-border spinner-border-sm" hidden></span>
            </button>
            <form:errors path="coverImage" cssClass="formError mt-2"
              cssStyle="font-size: 14px;position: absolute;width: 250px;" element="p" />
          </form:form> -->
        </div>
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="container-fluid px-0">
        <div class="row align-items-center position-relative justify-content-center">
          <div class="profilePictureContainer px-0">
            <div class="picContainer">
              <img alt="profile picture" [src]="user.profileImage"
                   class="profilePicture">
              <!-- <c:choose>
                <c:when test="${loggedUser.profileImage == null}">
                </c:when>
                <c:otherwise>
                  <img alt="profile picture" src="<c:url value='/user/images/profile/${loggedUser.profileImage.id}'/>"
                    class="profilePicture">
                </c:otherwise>
              </c:choose> -->
            </div>
            <div>

            </div>
            <div class="profilePicEditBtn">
              <!--                <c:url value="/user/account/updateProfileImage" var="postProfileImage" />-->
              <form>
                <input type="file" id="profileInputFile" name="profileImage" hidden accept=".png,.jpg,.jpeg,.gif"/>
                <button type="button" id="changeProfileImageButton"
                        class="d-flex align-items-center justify-content-center">
                  <fa-icon [icon]="['fas','camera']" id="profileCamaraIcon"></fa-icon>
                  <span id="profileLoadingSpinner" class="spinner-border spinner-border-sm" hidden></span>
                </button>
              </form>
            </div>
          </div>
          <div class="col-8 mt-5">
            <h1 class="userSectionTitles text-center names">
              {{user.name}} {{user.surname}}
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 px-0 my-2">
      <div class="container-lg px-5">
        <hr>
      </div>
    </div>

    <!-- USER INFO -->
    <div class="col-12 col-md-6 ps-md-0 ps-md-5">
      <div class="container-lg detailsSection">
        <div class="row py-2">
          <div class="col-6 my-2">
            <h3 class="sectionTitle text-left">
              {{'profilePage.subtitle.contact' | translate}}
            </h3>
          </div>
          <div class="col-6 d-flex align-items-center justify-content-end">
            <!-- <a href="<c:url value=" /user/account/updateInfo" />">
            <button class="editBtn">
              <fa-icon [icon]="['fas', 'pen']"></fa-icon>
            </button>
            </a> -->
          </div>
          <div class="col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                      </div>
                      <div class="col-10">
                          <span>
                            {{user.state}}, {{user.city}}.
                          </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['far','envelope']"></fa-icon>
                      </div>
                      <div class="col-10">
                            <span>
                              {{user.email}}.
                            </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas','phone-alt']"></fa-icon>
                      </div>
                      <div class="col-10">
                            <span>
                              {{user.phoneNumber}}.
                            </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2 mb-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas','user-friends']"></fa-icon>
                      </div>
                      <div class="col-10">
                        {{'profilePage.subtitle.contact' | translate}}
                        <!-- <a class="extraInfo" href="<c:url value=" /user/${loggedUser.id}/followers" />">
                        <span class="detailField">
                          <c:out value="${loggedUser.followers.size()}" />
                        </span>
                        {{'profilePage.info.followers' | translate}}
                        </a>
                        ·
                        <a class="extraInfo" href="<c:url value=" /user/${loggedUser.id}/following" />">
                        <span class="detailField">
                          <c:out value="${loggedUser.following.size()}" />
                        </span>
                        {{'profilePage.info.following' | translate}}
                        </a> -->
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="container-lg detailsSection my-4">
        <div class="row py-2 pb-3">
          <div class="col-6 my-2">
            <h3 class="sectionTitle text-left">
              {{'profilePage.subtitle.account' | translate}}
            </h3>
          </div>
          <div class="col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ps-0">
                  <h1 class="extraInfo mb-0">
                        <span class="detailField">
                          {{'profilePage.subtitle.state' | translate}}
                        </span>
                    <span>
                      <ng-template [ngIf]="user.isVerified" [ngIfElse]="notVerified">
                              {{'profilePage.subtitle.verified' | translate}}
                        <fa-icon [icon]="['fas','check']" class="ms-1" style="color: green"></fa-icon>
                      </ng-template>
                       <ng-template #notVerified>
                              {{'profilePage.subtitle.notVerified' | translate}}
                         <fa-icon [icon]="['fas','times']" class="ms-1" style="color: darkred"></fa-icon>
                       </ng-template>
                    </span>
                  </h1>
                </div>
                <div class="col-12 ps-0 mt-2">
                  <h1 class="extraInfo mb-0">
                        <span class="detailField">
                          {{'profilePage.subtitle.provider' | translate}}
                        </span>
                    <span>
                      <ng-template [ngIf]="user.isProvider" [ngIfElse]="notProvider">
                              {{'profilePage.subtitle.active' | translate}}
                        <fa-icon [icon]="['fas','check']" class="ms-1" style="color: green"></fa-icon>
                      </ng-template>
                       <ng-template #notProvider>
                              {{'profilePage.subtitle.inactive' | translate}}
                         <fa-icon [icon]="['fas','times']" class="ms-1" style="color: darkred"></fa-icon>
                         <a class="ms-2" href="<c:url value=/user/join" style="font-weight: 500">
                              {{'profilePage.subtitle.join' | translate}}
                         </a>
                      </ng-template>
                    </span>
                  </h1>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- RECENT CONTACTS -->
    <div class="col-12 col-md-6 pe-md-5">
      <div class="container-lg d-flex flex-column recentContacts">
        <div class="row py-2">
          <div class="col-12 mt-2">
            <h1 class="text-left mb-0 sectionTitle">
              {{'profilePage.contacts.recents' | translate}}
            </h1>
          </div>
        </div>
        <div class="row pb-2 align-items-start flex-grow-1 align-content-between">
          <!-- <c:url value="/user/account/search" var="postPath" />
          <form:form cssClass="mb-0" action="${postPath}" modelAttribute="searchForm" method="GET"
            id="searchForm">ø
            <form:input path="page" type="hidden" id="pageInput" />
          </form:form> -->
          <div class="col-12">
            <div class="container-fluid px-0">
              <div class="row">
                <!-- <c:choose>
                  <c:when test="${results.totalPages > 0}">
                    <c:forEach var="contact" items="${results.results}" varStatus="status">
                      <div class="col-12 mt-2">
                        <%@ include file="../../../components/cards/accordionContact.jsp" %>
                      </div>
                    </c:forEach>
                  </c:when>
                  <c:otherwise>
                    <div class="col-12 d-flex align-items-center justify-content-center">
                      <div class="container mt-2 d-flex align-items-center justify-content-center">
                        <p class="m-0 text-center p-4" style="font-size: 16px">
                          {{'profilePage.contacts.noContacts' | translate}}
                        </p>
                      </div>
                    </div>
                  </c:otherwise>
                </c:choose> -->
              </div>
            </div>
          </div>
          <div
            class="col-12 mb-2 d-flex align-self-end align-items-center justify-content-center ${results.totalPages<=1 ? 'd-none':''}">
            <div class="row">
              pagination
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
