<div class="container-lg flex-grow-1">
    <div class="row w-100 h-100 align-items-center justify-content-center">
        <div class="col-12 px-0">
            <div class="container-lg">
                <div class="row w-100">
                    <div class="col-10 col-md-8 w-50 d-flex justify-content-start align-items-center">
                        <h2 class="text-left photoText xyz-in" xyz="fade duration-5 left-5">
                            landingPage.titleP1
                            <br>
                            landingPage.titleP2
                        </h2>
                    </div>
                    <div class="col-8 col-md-9 w-50 d-flex justify-content-center align-items-center">
                        <div class="input-group xyz-in" xyz="fade left-3 duration-5 left-5 delay-6">
                            <input class="inputRadius form-control p-4" id="searchFormInput"
                                placeholder="landingPage.searchbarPlaceholder" />">
                            <div class="input-group-prepend mr-0">
                                <button id="searchFormButton" class="btn btn-lg inputBtn" type="button">
                                    landingPage.searchButtonText" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 justify-content-start align-items-center">
                        <small class="text-danger" style="display: none;" id="searchInvalidLength">
                            landingPage.searchInvalidLength" />
                        </small>
                    </div>
                    <div class="col-8 col-lg-9 mt-3 d-flex justify-content-start align-items-center"
                        xyz="fade small left-5 stagger delay-10">
                </div>
            </div>
        </div>
    </div>
</div>
