<div class="container-fluid py-4 px-0">
  <div class="container-lg p-5 w-50 bigContentContainer">
    <div class="row w-100 m-0 align-items-center justify-content-center">
      <div class="col">
        <h1 class="text-center title names">
          <!-- {{'contact.contactTitle' | translate:{value: job.provider.name}}} -->
        </h1>
        <p class="subtitle text-center mb-4">
          <span class="font-weight-bold">
            {{'contact.description.boldText' | translate}}
          </span>
          {{'contact.description.normalText' | translate}}
        </p>
        <div class="container-lg">
          <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center">
              contactForm
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
