<div class="accordion" [id]="'accordion'+request.id">
  <div class="card accordionCard">
    <div class="card-header px-0" data-bs-toggle="collapse" #accordion style="cursor: pointer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-11">
            <a (click)="$event.stopPropagation()" [routerLink]="['/jobs',request.jobId]" >
              {{request.jobProvided}}
            </a> |
            <a class="names" (click)="$event.stopPropagation()" [routerLink]="['/user',request.user.id]">
              {{request.provider.name}} {{request.provider.surname}}
            </a>
          </div>
          <div class="col-1 d-flex align-items-center justify-content-end">
            <fa-icon type="button"
                     class="ms-2 navbarText dropDownArrow" [icon]="['fas','chevron-down']" id="navBarArrow">
            </fa-icon>
          </div>
          <div class="col-12 d-flex align-items-center justify-content-start">
              <span>
                  {{request.date|date:'dd-MM-yyy'}}
              </span>
          </div>
        </div>
      </div>
    </div>

    <div [id]="'collapse'+this.request.id" class="collapse" #accordionBody>
      <div class="card-body px-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <span class="client-label">{{'dashboard.provider' | translate}}:</span>
              <a class="names" (click)="$event.stopPropagation()" [routerLink]="['/user',request.user.id]">
                {{request.provider.name}} {{request.provider.surname}}
              </a>
            </div>
            <div class="col-12">
              <p class="mb-0">
                <span class="client-label">{{'dashboard.clientMessage' | translate}}:</span>
                {{request.message}}
              </p>
            </div>
            <div class="col-12">
              <p class="mb-0">
                <span class="client-label">{{'dashboard.clientAddress' | translate}}:</span>
                {{request.contactInfo.state}}, {{request.contactInfo.city}}
                , {{request.contactInfo.street}} {{request.contactInfo.addressNumber}}
                {{request.contactInfo.departmentNumber}}
                {{request.contactInfo.floor}}
              </p>
            </div>
            <div class="col-12">
              <p class="mb-0">
                <span class="client-label">{{'clientContactCard.status' | translate}}:</span>
                {{'contact.status.' + request.status | translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
