<div class="container-fluid px-0">
  <div class="row align-content-start">
    <div class="col-7 d-flex align-items-center justify-content-start">
      <div class="input-group">
        <input #searchBar (keyup)="checkLength(searchBar.value)" [placeholder]="'discover.barPlaceholder'|translate"
               (keypress)="onSearchEnter($event,searchBar.value)" id="searchBar"
               class="inputRadius form-control"/>
        <div class="input-group-prepend">
          <button id="searchButton"
                  (click)="onSearch(searchBar.value)"
                  [ngClass]="{disabled:searchError}"
                  class="btn inputBtn">
            {{'discover.search' | translate}}
          </button>
        </div>
      </div>
    </div>

    <div class="col-5 d-flex align-items-center justify-content-end">
      <div class="dropdown">
        <button class="dropdown-custom dropdown-toggle" type="button" id="orderDropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{'discover.orderBy'| translate}}
          <span class="resultQuery">
              {{'discover.orderOption.' + jpq.order|translate}}
          </span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="orderDropdown">
          <li *ngFor="let order of orderOptions" class="input-group">
            <button class="dropdown-item orderButton"
                    (click)="onChangeOrder(order)">
              {{'discover.orderOption.' + order | translate}}
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-12 justify-content-start align-items-center">
      <small class="text-danger" [ngClass]="{'d-none': !searchError}">
        {{'landingPage.searchInvalidLength'|translate: {max: maxSearchInputLength} }}
      </small>
    </div>
  </div>

  <div class="row my-3">
    <div *ngIf="!!jpq.query" class="col-12 my-2 resultHeader d-flex align-items-start">
      <p class="mb-0">{{'discover.showingResults'|translate}}<span>"{{jpq.query}}"</span></p>
    </div>
    <ng-template [ngIf]="jpr.results.length>0" [ngIfElse]="jobsNotFound">
      <div class="col-12">
        <div class="container-fluid px-0">
          <div class="row align-items-top"
               [ngClass]="jpr.results.length%2==0?'justify-content-between': 'justify-content-start'">
            <div *ngFor="let job of jpr.results"
                 class="col-12 mt-3 col-md-6 mb-md-0 flex align-items-center justify-content-center">
              <app-job-card class="w-100" [job]="job"></app-job-card>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #jobsNotFound>
      <div class="container mt-2 d-flex align-items-center justify-content-center noJobsFound">
        <p class="m-0 text-center p-4" style="font-size: 16px">
          {{'discover.jobsNotFound' | translate}}
        </p>
      </div>
    </ng-template>
    <app-pagination
      *ngIf="jpr.totalPages>1"
      (changePage)="onChangePage($event)"
      [currentPage]="jpr.page"
      [totalPages]="jpr.totalPages">
    </app-pagination>
  </div>
</div>
