<div class="container-lg px-0">
  <div class="row pb-4 align-items-center justify-content-between">
    <div class="col-12 d-flex align-items-center justify-content-start">
      <div class="input-group">
        <input #searchBar (keyup)="checkLength(searchBar.value)" [placeholder]="'discover.barPlaceholder'|translate"
               (keypress)="onSearchEnter($event,searchBar.value)"
               class="inputRadius form-control"/>
        <div class="input-group-prepend" aria-describedby="DiscoverBar">
          <button
            (click)="onSearch(searchBar.value)"
            [ngClass]="{disabled:searchError}"
            class="btn inputBtn" style="background-color: #003258">
            {{'discover.search'|translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 justify-content-start align-items-center">
      <small class="text-danger" [ngClass]="{'d-none': !searchError}">
        {{'landingPage.searchInvalidLength'|translate: {max: maxSearchInputLength} }}
      </small>
    </div>
    <div class="col-12 mt-4 d-flex align-items-center justify-content-md-end justify-content-around">
      <div class="container-fluid px-0">
        <div class="row justify-content-around align-items-center">
          <div class="col-6 col-md-3 d-flex align-items-center justify-content-md-end">
            <div class="dropdown w-100">
              <button class="discoverDropdown dropdown-toggle d-flex align-items-center justify-content-between"
                      type="button"
                      data-bs-toggle="dropdown" id="categoryDropdown" aria-expanded="false">
                <span>{{'discover.category'|translate}}</span>
                <span class="resultQuery"
                      *ngIf="!!jpq.category else NoCategory">
                  {{'home.categories.' + jpq.category|translate}}
                </span>
                <ng-template #NoCategory>
                  <span class="resultQuery">{{'discover.all'|translate}}</span>
                </ng-template>
              </button>
              <ul class="dropdown-menu limitSizeDropdown dropdown-menu-end" aria-labelledby="categoryDropdown">
                <li class="dropdown-item">
                  <button (click)="onChangeCategory('')" class="dropdown-item">
                    {{'discover.all'|translate}}
                  </button>
                </li>
                <li *ngFor="let category of categories" class="dropdown-item">
                  <button (click)="onChangeCategory(category)" class="dropdown-item">
                    {{'home.categories.' + category|translate}}
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-6 col-md-3 mt-4 mt-md-0 d-flex align-items-center justify-content-md-end">
            <div class="dropdown w-100">
              <button class="discoverDropdown dropdown-toggle d-flex align-items-center justify-content-between"
                      type="button" id="stateDropdown"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>{{'discover.state'|translate}}</span>

                <span class="resultQuery"
                      *ngIf="!!selectedState else NoState">{{selectedState}}</span>
                <ng-template #NoState>
                  <span class="resultQuery">{{'discover.all'|translate}}</span>
                </ng-template>
              </button>
              <ul class="dropdown-menu dropdown-menu-end limitSizeDropdown" aria-labelledby="stateDropdown">
                <li class="dropdown-item">
                  <button id="emptyStateButton" (click)="onChangeState('','')" class="dropdown-item">
                    {{'discover.all'|translate}}
                  </button>
                </li>
                <li *ngFor="let state of states" class="dropdown-item">
                  <button (click)="onChangeState(state.name, state.id)" class="dropdown-item">
                    {{state.name}}
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-6 col-md-3 mt-4 mt-md-0 d-flex align-items-center justify-content-md-end">
            <div class="dropdown w-100">
              <button class="discoverDropdown dropdown-toggle d-flex align-items-center justify-content-between"
                      type="button" id="cityDropdown"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>{{'discover.city'|translate}}</span>
                <span class="resultQuery" *ngIf="!!selectedCity else NoCity">{{selectedCity}}</span>
                <ng-template #NoCity>
                  <span class="resultQuery">{{'discover.all'|translate}}</span>
                </ng-template>
              </button>
              <ul class="dropdown-menu dropdown-menu-end limitSizeDropdown" aria-labelledby="cityDropdown">
                <li>
                  <button id="emptyCityButton" (click)="onChangeCity('','')" class="dropdown-item">
                    {{'discover.all'|translate}}
                  </button>
                </li>
                <li *ngFor="let city of cities">
                  <button (click)="onChangeCity(city.name,city.id)" class="dropdown-item">
                    {{city.name}}
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-6 col-md-3 d-flex align-items-center justify-content-md-end">
            <div class="dropdown w-100">
              <button class="discoverDropdown dropdown-toggle d-flex align-items-center justify-content-between"
                      type="button" id="orderDropdown"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>{{'discover.orderBy'|translate}}</span>
                <span class="resultQuery">
                  {{'discover.orderOption.' + jpq.order|translate}}
                </span>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orderDropdown">
                <div *ngFor="let order of orderOptions" class="input-group">
                  <button (click)="onChangeOrder(order)" class="dropdown-item orderButton">
                    {{ 'discover.orderOption.' + order | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-lg px-0">
  <div class="container-fluid jobsContainer px-0">
    <div class="row align-content-start p-5 pt-4" style="min-height: 75%">
      <div *ngIf="!!jpq.query"
           class="col-12 mb-3 resultHeader p-0 d-flex align-items-start">
        <p class="mb-0">
          {{'discover.showingResults' | translate}} <span>{{jpq.query}}</span>
        </p>
      </div>
      <div class="col-12">
        <div class="container-fluid px-0" style="min-height: 100%">
          <div class="row align-content-between" style="min-height: 100%">
            <ng-template [ngIf]="jpr.results.length>0 || isFetching" [ngIfElse]="jobsNotFound">
              <div class="col-12">
                <div class="container-fluid p-0">
                  <ng-template [ngIf]="isFetching" [ngIfElse]="jobsLoaded">
                    <app-loading-spinner></app-loading-spinner>
                  </ng-template>
                  <ng-template #jobsLoaded>
                    <!--                    FIXME-->
                    <div
                      class="row align-items-top w-100 mx-0 {jpr.results)%3 == 0 ? 'justify-content-between': 'justify-content-start'}">
                      <div *ngFor="let job of jpr.results"
                           class="col-12 mt-3 col-md-4 mb-4 mb-md-0 d-flex align-items-center justify-content-center">
                        <app-job-card class="w-100" [job]="job"></app-job-card>
                      </div>
                    </div>
                  </ng-template>

                </div>
              </div>
            </ng-template>
            <ng-template #jobsNotFound>
              <div class="col-12 h-100 d-flex align-items-center justify-content-center">
                <div class="container mt-2 d-flex align-items-center justify-content-center noJobsFound">
                  <p class="m-0 text-center p-4" style="font-size: 16px">
                    {{'discover.jobsNotFound'|translate}}
                  </p>
                </div>
              </div>
            </ng-template>
          </div>
          <app-pagination
            *ngIf="jpr.totalPages>1"
            (changePage)="onChangePage($event)"
            [currentPage]="jpq.page"
            [totalPages]="jpr.totalPages">
          </app-pagination>
        </div>
      </div>
    </div>

  </div>
</div>
