<div class="container-lg py-1">
  <ng-template [ngIf]="isLoading" [ngIfElse]="alreadyFetched">
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <ng-template #alreadyFetched>
    <div class="row">
      <div class="col-7 d-flex justify-content-start">
        <h1 class="sectionTitle">
          {{ 'account.notifications.newFollower.title'|translate}}
        </h1>
      </div>
      <div class="col-5 d-flex justify-content-end">
        {{this.notification.date | date:'yyyy-MM-dd hh:mm'}}
      </div>
    </div>
    <div class="row">
      <div class="col-10">
        <a (click)="onClick()" style="cursor: pointer" class="contactInfo names">
          <span>{{ user.name + ' ' + user.surname}}</span>
        </a>
        <span>{{'account.notifications.newFollower.body'|translate}}</span>
      </div>
    </div>
  </ng-template>
</div>
