<div class="accordion mb" [id]="'accordion'+contact.id.toString()">
  <div class="card accordionCard accordion-item">
    <div class="accordion-header card-header px-0" [id]="'flush'+contact.id.toString()" >
      <div class="accordion-button navbarText"
           style="background-color: rgba(0,0,0,.03)"
           data-bs-toggle="collapse"
           data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
           aria-controls="panelsStayOpen-collapseOne">
        <div class="container-fluid pe-2 ps-0">
          <div class="row">
            <div class="col-8 align-items-lg-start">
              <a  [routerLink]="['/jobs',contact.job.id]" class="card-link">
                {{contact.job.jobProvided}}
              </a><span style="color: darkslategrey">|</span>
              <a [routerLink]="['/user',contact.user.id]" class="card-link">
                {{contact.user.name + '  ' + contact.user.surname}}
              </a>
            </div>
            <div class="col-4 justify-content-end d-flex align-items-center">
              <span style="color: darkslategrey">{{contact.date|date:'dd-MM-yyy'}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="card-body accordion-body px-0">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <span class="client-label">{{'dashboard.client'|translate}}:</span>
              <a class="card-link names" [routerLink]="['/user',contact.user.id]">
                {{contact.user.name }} {{ contact.user.surname}}
              </a>
            </div>
            <div class="col-12">
              <span class="client-label">{{'dashboard.clientPhoneNumber'|translate}}:</span>
              {{contact.user.phoneNumber}}
            </div>
            <div class="col-12">
              <span class="client-label">{{'dashboard.clientEmail'|translate}}:</span>
              {{contact.user.email}}
            </div>
            <div class="col-12">
              <span class="client-label">{{'dashboard.clientAddress'|translate}}:</span>
              {{contact.contactInfo.city}},  {{ contact.contactInfo.state}},
            {{ contact.contactInfo.street}}, {{ contact.contactInfo.addressNumber}}
            {{ contact.contactInfo.floor}}, {{ contact.contactInfo.departmentNumber}}
            </div>

            <div class="col-12">
              <p class="mb-0">
                <span class="client-label">{{'dashboard.clientMessage'|translate}}:</span>
                {{contact.message}}
              </p>
            </div>
            <div class="col-12">
              <span class="client-label">{{'clientContactCard.status'|translate}}:</span>
              {{'contact.status.' + contact.status |translate}}
            </div>
            <ng-template [ngIf]="contact.isWorkPending()" [ngIfElse]="NotPending">
              <div class="col-12 p-2">
                <div class="container p-2"
                     style="background-color: aliceblue;border-radius: 8px;">
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div
                          class="col-12 col-md-6 pl-4 my-2 d-flex align-items-center justify-content-center justify-content-md-start">
                          <p class="m-2 font-weight-bold">
                            {{'clientContactCard.jobDecision'|translate}}
                          </p>
                        </div>
                        <div class="col-12 col-md-6 pr-4 my-2  d-flex align-items-center justify-content-center justify-content-md-end">
                          <button class="finishBtn me-2"
                                  type="submit">
                            {{'clientContactCard.acceptJobBtn'|translate}}
                            <fa-icon [icon]="['fas', 'check']" class="ml-2"></fa-icon>
                          </button>
                          <button class="closeBtn me-2" type="submit">
                            {{'clientContactCard.rejectJobBtn'|translate}}
                            <fa-icon [icon]="['fas', 'times']" class="ml-2"></fa-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template #NotPending>
              <div *ngIf="contact.isWorkInProgress()" class="col-12 p-2">
                <div class="container p-2"
                     style="background-color: aliceblue;border-radius: 8px;">
                  <div class="row">
                    <div class="col-12">
                      <div class="row">
                        <div
                          class="col-12 col-md-7 pl-4 my-2 d-flex align-items-center justify-content-center justify-content-md-start">
                          <p class="font-weight-bold m-2">
                            {{'clientContactCard.jobCompletedIntro'|translate}}
                          </p>
                        </div>
                        <div
                          class="col-12 col-md-5 pr-4 d-flex my-2 d-flex align-items-center justify-content-center justify-content-md-end">
                          <button class="finishBtn me-2" type="submit">
                            {{'clientContactCard.completedJobBtn'|translate}}
                            <i class="fas fa-check ml-2"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
