<div #backNavbar class="container-fluid px-0 d-none" id="navFix" style="height: 82px"></div>
<div class="container-fluid p-0">
  <nav #navbar class="navbar navbar-expand navbar-light navbarTop" id="navbar">
    <div class="container-lg px-0">
      <a routerLink="/" class="navbar-brand me-4">
        <img src='assets/images/navbrand.png' alt="FixHub brand logo" height="56px" width="160px">
      </a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
          <a routerLink="/" class="nav-link navbarText">
            {{'navBar.home' | translate }}
          </a>
        </li>
        <li class="nav-item navOption mx-1 d-flex justify-content-center align-items-center">
          <a routerLink="/discover" class="nav-link navbarText">
            {{'navBar.discover'| translate}}
          </a>
        </li>
        <li *ngIf="!!user && user.roles.includes('PROVIDER')"
            class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
          <a routerLink="/user/dashboard" class="nav-link navbarText">
            {{'navBar.dashboard'| translate}}
          </a>
        </li>
        <li *ngIf="!!user && user.roles.includes('VERIFIED')"
            class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
          <a routerLink="/user/requests" class="nav-link navbarText">
            {{'navBar.requests'| translate}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-template [ngIf]="!!user" [ngIfElse]="noUser">
          <li *ngIf="user.roles.includes('PROVIDER')"
              class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
            <a [routerLink]="['/jobs','new']" class="nav-link navbarText">
              <fa-icon class="me-2 navbarText" [icon]="['fas','plus']" id="navBarPlus"></fa-icon>
              {{'navBar.newJob'| translate}}
            </a>
          </li>
          <li class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
            <a [routerLink]="['/user/notifications']" class="text-center nav-link navbarText d-flex
            align-items-center justify-content-center">
              <div class="position-relative">
                <fa-icon class="navbarText mt-1" [icon]="['far','bell']" id="navBarBell">
                </fa-icon>
                <span class="position-absolute start-100 translate-middle
                  notCount rounded-circle bg-danger p-2">
                 </span>
              </div>
            </a>
          </li>
          <!--PROFILE DROPDOWN-->
          <li class="nav-item mx-1 d-flex justify-content-center align-items-center">
            <div class="userContainer pe-0 nav-link">
              <div class="dropdown" data-bs-toggle="dropdown" data-bs-target="profileDropdown">
                <img [src]="user.profileImage ? user.profileImage : 'assets/images/defaultProfileImage.png'"
                     class="avatar"
                     alt="profileImg"/>
                <fa-icon class="ms-2 navbarText" [icon]="['fas','chevron-down']" id="navBarArrow"></fa-icon>
              </div>
              <div class="dropdown-menu dropdown-menu-end" id="profileDropdown">
                <a routerLink="/user/profile" class="dropdownItem ps-3">
                  {{'navBar.signInAs' | translate}}
                  <span class="username names">
                    {{user.name}}
                  </span>
                </a>
                <div class="dropdown-divider"></div>
                <a routerLink="/user/profile" class="dropdown-item ps-3">
                  {{'navBar.profile' | translate}}
                </a>
                <a *ngIf="user.roles.includes('PROVIDER')" routerLink="/user/dashboard" class="dropdown-item ps-3">
                  {{'navBar.dashboardItem'| translate}}
                </a>
                <a routerLink="/user/requests" class="dropdown-item ps-3">
                  {{'navBar.requestsItem'| translate}}
                </a>
                <div class="dropdown-divider"></div>
                <div class="mb-0 dropdown-item px-0" (click)="onLogout()">
                  <button type="button" id="logoutInput" class="ps-3 btn-block text-start">
                    {{'navBar.logout' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ng-template>
        <ng-template #noUser>
          <li class="nav-item mx-1 d-flex justify-content-center align-items-center navOption">
            <a routerLink="/login" class="nav-link navbarText">
              {{'navBar.login' | translate }}
            </a>
          </li>
        </ng-template>

        <!--        &lt;!&ndash;LANG DROPDOWN&ndash;&gt;-->
        <!--        <li-->
        <!--          class="userContainer nav-item mx-1 d-flex justify-content-center align-items-center navOption position-relative">-->
        <!--          <div class="d-flex navIcon align-items-center justify-content-between" style="cursor: pointer"-->
        <!--               data-bs-toggle="dropdown" data-bs-target="#langDropdown" data-bs-reference="parent">-->
        <!--            <fa-icon class="ms-2" [icon]="['fas','language']" size="2x"></fa-icon>-->
        <!--            <fa-icon class="ms-2" [icon]="['fas','chevron-down']"></fa-icon>-->
        <!--          </div>-->
        <!--          <div class="dropdown-menu dropdown-menu-end" id="langDropdown">-->
        <!--            <div class="dropdownItem ps-3" style="cursor: default">-->
        <!--              {{'translations' | translate}}-->
        <!--            </div>-->
        <!--            <div class="dropdown-divider"></div>-->
        <!--            <a *ngFor="let lang of languages" (click)="changeLang(lang)"-->
        <!--               class="dropdown-item dropItem ps-3">-->
        <!--              {{'translations.' + lang | translate}}-->
        <!--            </a>-->
        <!--          </div>-->
        <!--        </li>-->

      </ul>
    </div>
  </nav>
</div>
