<div #backNavbar class="container-fluid px-0 d-none" id="navFix" style="height: 82px"></div>
<div class="container-fluid p-0">
  <nav #navbar class="navbar navbar-expand navbar-light navbarTop" id="navbar">
    <div class="container-lg px-0">
      <a routerLink="/" class="navbar-brand me-4">
        <img src='assets/images/navbrand.png' alt="FixHub brand logo" height="56px" width="160px">
      </a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
          <a routerLink="/" class="nav-link navbarText">
            {{'navBar.home' | translate }}
          </a>
        </li>
        <li class="nav-item navOption mx-1 d-flex justify-content-center align-items-center">
          <a routerLink="/discover" class="nav-link navbarText">
            {{'navBar.discover'| translate}}
          </a>
        </li>
        <li *ngIf="!!user && user.roles.includes('PROVIDER')"
            class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
          <a routerLink="/user/dashboard" class="nav-link navbarText">
            {{'navBar.dashboard'| translate}}
          </a>
        </li>
        <li *ngIf="!!user && user.roles.includes('VERIFIED')"
            class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
          <a routerLink="/user/requests" class="nav-link navbarText">
            {{'navBar.requests'| translate}}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-template [ngIf]="!!user" [ngIfElse]="noUser">
          <li *ngIf="user.roles.includes('PROVIDER')"
              class="nav-item mx-1 navOption d-flex justify-content-center align-items-center">
            <a [routerLink]="['/jobs','new']" class="nav-link navbarText">
              <fa-icon class="me-2 navbarText" [icon]="['fas','plus']" id="navBarPlus"></fa-icon>
              {{'navBar.newJob'| translate}}
            </a>
          </li>

          <!--DROPDOWN-->
          <li class="nav-item mx-1 d-flex justify-content-center align-items-center">
            <div class="userContainer pe-0 nav-link">
              <div id="moreOptions" class="dropdown" data-bs-toggle="dropdown">
                <img [src]="user.profileImage ? user.profileImage : 'assets/images/defaultProfileImage.png'"
                     class="avatar"
                     alt="profileImg"/>
                <fa-icon class="ms-2 navbarText" [icon]="['fas','chevron-down']" id="navBarArrow"></fa-icon>
              </div>
              <div class="dropdown-menu dropdown-menu-end">
                <a routerLink="/user/profile" class="dropdownItem ps-3">
                  {{'navBar.signInAs' | translate}}
                  <span class="username names">
                    {{user.name}}
                  </span>
                </a>
                <div class="dropdown-divider"></div>
                <a routerLink="/user/profile" class="dropdown-item ps-3">
                  {{'navBar.profile' | translate}}
                </a>
                <a *ngIf="user.roles.includes('PROVIDER')" routerLink="/user/dashboard" class="dropdown-item ps-3">
                  {{'navBar.dashboardItem'| translate}}
                </a>
                <a routerLink="/user/requests" class="dropdown-item ps-3">
                  {{'navBar.requestsItem'| translate}}
                </a>
                <div class="dropdown-divider"></div>
                <div class="mb-0 dropdown-item px-0" (click)="onLogout()">
                  <button type="button" id="logoutInput" class="ps-3 btn-block text-start">
                    {{'navBar.logout' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ng-template>
        <ng-template #noUser>
          <li class="nav-item mx-1 d-flex justify-content-center align-items-center navOption">
            <a routerLink="/login" class="nav-link navbarText">
              {{'navBar.login' | translate }}
            </a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</div>
