<div class="container-fluid py-4 px-0">
  <div class="container-lg p-5 smallContentContainer" style="min-height: 75%">
    <div class="row w-100 m-0 align-items-center justify-content-center">
      <div class="col-12">
        <h1 class="text-center title">
          {{ 'login.header' | translate }}
        </h1>
        <p class="subtitle text-center mb-4">
            <span class="fw-bold">
                {{'login.description.boldText' | translate }}
            </span>
          {{ 'login.description.normalText' | translate }}
        </p>
      </div>
      <div class="col-12 mb-3">
        <div class="container-fluid px-0">
          <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmitLogin()">
            <div class="row">
              <div class="col-12">
                <label for="email" class="mb-2">
                  {{ 'login.EmailText' | translate }}
                </label>
                <input formControlName="email" type="email" class="form-control mb-2"
                       id="email" name="email"
                       aria-describedby="email input"/>

                <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
                  <span *ngIf="loginForm.get('email').errors['required']" class="errorMessage">
                    {{'NotEmpty.loginForm.email' | translate }}<br>
                  </span>
                </span>

              </div>
              <div class="col-12 mt-2 px-0">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6 px-0">
                      <label class="mb-2">
                        {{'login.password' | translate }}
                      </label>
                    </div>
                    <div class="col-6 px-0 d-flex justify-content-end">
                      <app-recover-email-popup></app-recover-email-popup>
                    </div>
                    <div class="col-12 px-0 d-flex justify-content-start align-items-center">
                      <div class="input-group d-flex justify-content-start align-items-center">
                        <input formControlName="password" [type]="showPass ? 'password' : 'text'" class="form-control"
                               id="password" name="password"
                               aria-describedby="password input"/>
                        <div class="input-group-append">
                          <button id="passwordEye" type="button" tabindex="-1"
                                  (click)="toogleEye()"
                                  class="form-control input-group-text">
                            <fa-icon [icon]="['far',showPass ? 'eye-slash' : 'eye']"></fa-icon>
                          </button>
                        </div>

                      </div>

                    </div>
                    <div class="col-12 mt-2 px-0 d-flex justify-content-start align-items-center">
                      <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                          <span *ngIf="loginForm.get('password').errors['required']" class="errorMessage">
                             {{'NotEmpty.loginForm.password' | translate }}<br>
                          </span>

                          <span *ngIf="error" class="mb-0 formError">
                            {{'login.error' | translate }}
                          </span>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <button form="loginForm" class="w-100 continueBtn my-2">
          {{'login.buttonText' | translate }}
        </button>
      </div>
      <div class="col-12 mt-4">
        <p class="mb-0 text-center">
          {{'login.noAccount1' | translate }}
          <a [routerLink]="['/register']">
            {{'login.noAccount2' | translate }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
