<div class="container-fluid py-4 px-0">
  <div class="container-lg p-5 smallContentContainer" style="min-height: 75%">
    <div class="row w-100 m-0 align-items-center justify-content-center">
      <div class="col-12">
        <h1 class="text-center title">
          {{ 'login.header' | translate }}
        </h1>
        <p class="subtitle text-center mb-4">
                        <span class="font-weight-bold">
                            {{'login.description.boldText' | translate }}

                        </span>
          {{ 'login.description.normalText' | translate }}
      </div>
      <div class="col-12">
        <div class="container-fluid px-0">

          <form id="loginForm">
            <div class="row">
              <div class="col-12">
                <label for="email">
                  {{ 'login.EmailText' | translate }}
                </label>
                <input type="email" class="form-control mb-2"
                       id="email" name="email"
                       aria-describedby="email input"/>
              </div>
              <div class="col-12 mt-2">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-6 px-0">
                      <label>
                        {{'login.password' | translate }}
                      </label>
                    </div>
                    <div class="col-6 px-0 d-flex justify-content-end">
                      <a href="#" tabindex="-1">
                                                    <span class="text-right"
                                                          style="font-size: 0.9rem; margin-bottom: .5rem">
                                                       {{ 'login.forgotPassword' | translate }}
                                                    </span>
                      </a>
                    </div>
                    <div class="col-12 px-0 d-flex justify-content-start align-items-center">
                      <div class="input-group d-flex justify-content-start align-items-center">
                        <input type="password" class="form-control"
                               id="password" name="password"
                               aria-describedby="password input"/>
                        <div class="input-group-append">
                          <button id="passwordEye" type="button" tabindex="-1"
                                  class="btn btn-lg form-control inputBtn input-group-text">
                            <i id="eye" class="far fa-eye-slash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-2 px-0 d-flex justify-content-start align-items-center">
                      <p class="mb-0 formError">
                        {{'login.error' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-3 d-flex justify-content-start align-items-center">
                <input type="checkbox" name="rememberMe" id="rememberMe"/>
                <label for="rememberMe" class="mb-0 ml-2">
                  {{'login.rememberme' | translate }}
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center">
        <button form="loginForm" type="submit" class="w-100 continueBtn my-2">
          {{'login.buttonText' | translate }}
        </button>
      </div>
      <div class="col-12 mt-4">
        <p class="mb-0 text-center">
          {{'login.noAccount1' | translate }}
          <a href="#">
            {{'login.noAccount2' | translate }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
