.jobForm {
    width: 500px;
    margin: auto;
}

#description {
    resize: none;
    height: 100px;
}

.title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 1em;;
}

.subtitle {
    font-size: 15px;
}

.label {
    font-weight: 700;
    font-size: 15px;
}

.input {
    font-weight: 500;
    font-size: 16px;
    color: #282827;
    border: 1px solid #ccc;
    border-radius: 8px;
}

