.recentContacts {
  background-color: #EDF0F2;
  border-radius: 8px;
  min-height: 187px;
}

a {
  color: black;
  transition: hover 1s;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 104, 192);
  text-decoration: none;
}

.userSectionTitles {
  font-size: 22px;
  font-weight: 700;
}


.sectionTitle {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  color: black;
}

.closeBtn {
  color: #FFFeFF;
  font-size: 0.8em;
  background-color: #6c757d;
  border: none;
  box-shadow: none;
  border-radius: 8px;
  width: 118px;
  padding: 12px 16px;
  font-weight: bold;
}

.finishBtn {
  font-size: 0.8em;
  background-color: #003359;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: bold;
  width: 118px;
  height: auto;
}


.contentBubble {
  background-color: white;
  border-radius: 8px;
}


.client-label {
  font-weight: bolder;
}

.picContainer {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: solid white 4px;
}

.profilePicture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
