.acceptJobBtn {
    font-size: 0.8em;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: bold;
}

.rejectJobBtn {
    font-size: 0.8em;
    background-color: #f44336;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: bold;
}

.completedJobBtn {
    font-size: 0.8em;
    background-color: #008CBA;
    color: #fff;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: bold;
}

.jobState{

}