.list-group > .active {
    background-color: var(--quaternary-color) !important;
    border-color: var(--quaternary-color) !important;
    color: var(--tertiary-color) !important;
}

.accordion a {
    color: black;
    font-weight: 500;
    transition: hover 1s;
}

.accordion a:hover {
    color: rgb(0,104,192);
    text-decoration: none;
}

.accordionCard {
    border: none;
    background-color: transparent;
}

.inactive {
    color: var(--primary-color) !important;
}

.card-header {
    color: black !important;
}

.card-body {
    background-color: var(--tertiary-color);
}

a.list-group-item {
    display: flex !important;
    align-items: center !important;
}

a .text {
    flex: 1 !important;
}

a .badge {
    flex: 0 0 auto !important;
    width: 3em;
}

.info-box {
    border-color: var(--quaternary-color) !important;
    color: var(--primary-color) !important;
    text-align: center !important;
}

.table-head {
    background-color: var(--primary-color) !important;
    color: var(--tertiary-color) !important;
}

.client-label{
    font-weight: bolder;
}


