.outerContainer {
    width: 100%;
    background-color: rgb(245, 245, 242);
}

.servicesContainer {
    background-color: #FAFAFA;
    padding: 3em;
}

.serviceCard {
    max-height: 280px;
    width: 100%;
    border-radius: 8px;
    background: #fff;
    transition: box-shadow .3s, transform .3s;
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.serviceCard:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: scale(1.02);
}

.serviceImg {
    max-height: 280px !important;
    width: auto !important;
}

.inputBtn {
    border-radius: 0 8px 8px 0 !important;
    background-color: #6699CC;
    color: white;
}

.inputBtn:hover {
    background-color: #003B6D;
    transition: 150ms linear;
    color: white;
}

.contactForm {
    width: 500px;
    margin: auto;
}

#mensaje {
    resize: none;
    height: 150px;
}