
.jobCard {
    border-radius: 8px;
    transition: box-shadow .3s, transform .3s;
    height: 380px;
    width: 330px;
    overflow: hidden;
}

.jobCard:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: scale(1.02);
}

.jobCardImgContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.jobCard div img {
    transition: transform .5s ease;
}

.jobCard:hover div img {
    transform: scale(1.02);
}

.jobCardImg {
    z-index: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.jobCard > a {
    background-color: #003B6D;
    border-color: #003B6D;
}

.jobPrice {
    font-weight: 400;
    font-size: 16px;
    padding: 12px 20px;
    background-color: #fff;
    border-radius: 20px;
    left: 20px;
    z-index: 10;
    bottom: 20px;
    position: absolute;
}

.jobCardAvgRating {
    font-style: normal;
    font-weight: 600;
}

.jobCardAvgRatingCount {
    font-style: normal;
    font-weight: 400;
}