
.page-item {
    cursor: pointer;
}

.disabled {
    cursor: default;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.inputBtn {
    border-radius: 0 8px 8px 0 !important;
    background-color: rgba(0, 59, 109, 1);
    color: white;
}

.inputBtn:hover {
    transition: 150ms linear;
    color: rgba(255, 255, 255, .9);
}

.noJobsFound {
    height: 300px;
    width: auto;
    background-color: white
}

.dropdown-custom {
    border-radius: 8px !important;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: rgba(0, 59, 109, 1);
    border: none;
    padding: 8px 16px;
}

.resultQuery {
    font-size: 12px;
}

.resultHeader p span {
    color: rgb(196, 85, 0);
}

.inputRadius::placeholder {
    color: black !important;
}

.inputRadius {
    padding: 8px 16px!important;
    color: black !important;
    border-radius: 8px 0 0 8px !important;
}