<div class="container-fluid p-0 reviewCard">
  <div class="row">
    <div class="col-10 col-lg-8 d-flex justify-content-between align-items-center">
      <div>
        <fa-icon *ngFor="let r of [0, 1, 2, 3, 4] | slice:0:review.rating" [icon]="['fas', 'star']"
                 class="me-2 iconsColor"></fa-icon>

        <fa-icon *ngFor="let r of [0, 1, 2, 3, 4] | slice:review.rating:5" [icon]="['far', 'star']"
                 class="me-2 iconsColor"></fa-icon>
      </div>
      <span>
        {{review.creationDate}}
      </span>
    </div>
    <div class="col-7 mt-2 d-flex align-items-center justify-content-between">
      <a class="names" [routerLink]="['/user',review.reviewer.id]">
        {{review.reviewer.name}} {{review.reviewer.surname}}
      </a>
    </div>
    <div class="col-12 d-flex justify-content-start align-items-center">
      <p class="text-left reviewBody my-2">{{review.description}}</p>
    </div>
  </div>
</div>
