<div class="container-lg py-1">
  <ng-template [ngIf]="isLoading" [ngIfElse]="alreadyFetched">
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <ng-template #alreadyFetched>
    <div class="row">
      <div class="col-7 d-flex justify-content-start">
        <h1 class="sectionTitle">
          {{ 'account.notifications.jobRequest.cancelled.title'|translate}}
        </h1>
      </div>
      <div class="col-5 d-flex justify-content-end">
        {{this.notification.date | date:'yyyy-MM-dd hh:mm'}}
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <span>
          {{ 'account.notifications.jobRequest.cancelled.body'| translate }}
          <a [routerLink]="'/user/'+jobRequest.user.id" class="contactInfo names">
            {{ this.jobRequest.user.name }} {{ this.jobRequest.user.surname }}
          </a>
          {{ 'account.notifications.jobRequest.cancelled.body1'| translate }}
          <a [routerLink]="'/jobs/'+jobRequest.jobId" class="contactInfo names">
            {{ this.jobRequest.jobProvided }}
          </a>.
          <a (click)="onClick()" style="cursor: pointer" class="contactInfo names">
              <span>{{'account.notifications.jobRequest.cancelled.body2'|translate}}</span>
          </a>
        </span>
      </div>
    </div>

  </ng-template>

</div>

