<div class="container-lg py-1">
  <ng-template [ngIf]="isLoading" [ngIfElse]="alreadyFetched">
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <ng-template #alreadyFetched>
    <div class="row">
      <div class="col-12 d-flex justify-content-start">
        <h1 class="sectionTitle">
          {{ 'account.notifications.jobRequest.cancelled.title'|translate}}
          | {{this.jobRequest.date}}
        </h1>
      </div>

      <div class="col-12">
        <span>
          {{ 'account.notifications.jobRequest.cancelled.body'| translate:
          {name:this.jobRequest.user.name, surname:this.jobRequest.user.surname,job:this.jobRequest.jobProvided} }}

          <a (click)="onClick()" style="cursor: pointer" class="contactInfo names">
              <span>{{'account.notifications.jobRequest.cancelled.body1'|translate}}</span>
          </a>
        </span>

      </div>
    </div>
  </ng-template>


</div>
