<div class="container-lg py-1">
  <ng-template [ngIf]="isLoading" [ngIfElse]="alreadyFetched">
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <ng-template #alreadyFetched>
    <div class="row">
      <div class="col-8 d-flex justify-content-start">
        <h1 class="sectionTitle">
          {{ 'account.notifications.jobRequest.cancelled.title'|translate}}
        </h1>
      </div>

      <div class="col-4 d-flex justify-content-end">


      </div>
      <div class="col-12">
        <span>
          {{ 'account.notifications.jobRequest.cancelled.body'|translate}}
          <span class="contactInfo names">
            {{this.jobRequest.jobProvided}}
          </span>
          <span>{{'account.notifications.jobRequest.cancelled.body2'|translate}}</span>
          <a (click)="onClick()" style="cursor: pointer" class="contactInfo names">
              <span>{{'account.notifications.jobRequest.cancelled.body3'|translate}}</span>
          </a>
        </span>

      </div>
    </div>
  </ng-template>


</div>
