/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Poppins', sans-serif;
  --primary-color: #003359;
  --secondary-color: #6699CC;
  --tertiary-color: #EBEDF3;
  --quaternary-color: #BDBDBD;
  --quinary-color: #676767;
}

p, h1, h2, h3 {
  word-break: break-word;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 1em;
}

.outerContainer {
  width: 100%;
  background-image: linear-gradient(261deg, #003b6d 0%, #021b30f2 100%);
  min-height: 100vh;
}

.outerContainerFit {
  background-image: linear-gradient(261deg, #003b6d 0%, #021b30f2 100%);
}

.smallContentContainer {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 34em;
}

.bigContentContainer {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.95);
}

.formError {
  color: #ff0000;
}

.continueBtn {
  font-size: 0.8em;
  background-color: #003359;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: bold;
}

.cancelBtn {
  font-size: 0.8em;
  background-color: #003359;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 8px;
  padding: 12px 16px;
  font-weight: bold;
}

.required-field {
  color: #ff0000;
}

.names {
  text-transform: capitalize;
}

.form-group {
  margin-bottom: 1rem;
}

.link {
  color: #0d6efd;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  color: #0a58ca;
}

.iconsColor {
  color: #003B6D;
}


.dropdownItem {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  font-size: 14px;
}

.dropdownItem:hover {
  color: black;
  text-decoration: none;
}

.dropdown-item:active {
  background-color: var(--primary-color);
  color: white;
}

.dropdown-item:hover, .dropdown-item:hover button {
  background-color: var(--primary-color);
  color: white !important;
}

.modal {
  border-radius: 8px;
}

.roundedBorder {
  border-radius: 8px;
}

.sectionTitle {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

.success {
  color: rgb(130, 201, 30);
}

.error {
  color: #FF0033;
}

.errorMessage {
  color: #FF0033;
}
