<div class="container-lg userContainerProfile pb-3 px-2">
  <div class="row">

    <!-- USER PICTURES -->
    <div class="col-12 px-0">
      <div class="container-fluid px-0 position-relative backgroundImageContainer">
        <img alt="profile cover picture"
             [src]="user.coverImage ? user.coverImage+coverChange : 'assets/images/defaultCoverImage.jpg'"
             class="backgroundImage">
        <div class="profileBackgroundPic">
          <form method="POST" enctype="multipart/form-data">
            <input [formControl]="coverImage" type="file" name="coverImage" hidden accept=".png,.jpg,.jpeg"
                   (change)="onCoverImageChanged($event)" #coverImageInput/>
            <button (click)="coverImageInput.click()" [disabled]="disabledCover" type="button"
                    class="d-flex align-items-center justify-content-center" id="changeCoverImageButton"
                    style="width: 224px">
              <span class="spinner-border spinner-border-sm" [hidden]="!disabledCover"></span>

              <span *ngIf="!disabledCover" id="coverCamaraIcon">
                <fa-icon [icon]="['fas', 'camera']" class="me-2"></fa-icon>
                <span>
                  {{'profilePage.picture.changeBg' | translate}}
                </span>
              </span>
              <span id="coverLoadingSpinner" class="spinner-border spinner-border-sm" hidden></span>
            </button>
            <span *ngIf="!allowedCoverImageType" class="errorMessage">
                  {{'ImageTypeConstraint.coverImageForm.coverImage' | translate }}<br>
                </span>
            <span *ngIf="!allowedCoverImageSize" class="errorMessage">
                {{'ImageSizeConstraint.coverImageForm.coverImage' | translate:{size: this.maxCoverImageMBSize} }}

            </span>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="container-fluid px-0">
        <div class="row align-items-center position-relative justify-content-center">
          <div class="profilePictureContainer px-0">
            <div class="picContainer">
              <img alt="profile picture"
                   [src]="user.profileImage ? user.profileImage+profileChange : 'assets/images/defaultProfileImage.png'"
                   class="profilePicture">
            </div>

            <div class="profilePicEditBtn">
              <form>
                <input [formControl]="profileImage" type="file" name="profileImage" hidden
                       (change)="onProfileFileChanged($event)" #profileImageInput accept=".png,.jpg,.jpeg,.gif"/>
                <button (click)="profileImageInput.click()" [disabled]="disabledProfile" type="button"
                        id="changeProfileImageButton"
                        class="d-flex align-items-center justify-content-center">
                  <span class="spinner-border spinner-border-sm" [hidden]="!disabledProfile"></span>
                  <span *ngIf="!disabledProfile">
                    <fa-icon [icon]="['fas', 'camera']"></fa-icon>
                  </span>
                </button>

              </form>

            </div>

            <div>
              <span *ngIf="!allowedProfileImageType" class="errorMessage">
                  {{'ImageTypeConstraint.profileImageForm.profileImage' | translate }}<br>
                </span>
              <span *ngIf="!allowedProfileImageSize" class="errorMessage">
                  {{'ImageSizeConstraint.profileImageForm.profileImage' | translate:{size: this.maxProfileImageMBSize} }}
                </span>
            </div>
          </div>
          <div class="col-8 mt-5">
            <h1 class="userSectionTitles text-center names">
              {{user.name}} {{user.surname}}
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 px-0 my-2">
      <div class="container-lg px-5">
        <hr>
      </div>
    </div>

    <!-- USER INFO -->
    <div class="col-12 col-md-6 ps-md-0 ps-md-5 mb-md-3">
      <div class="container-lg detailsSection">
        <div class="row py-2">
          <div class="col-6 my-2">
            <h3 class="sectionTitle text-left">
              {{'profilePage.subtitle.contact' | translate}}
            </h3>
          </div>
          <div class="col-6 d-flex align-items-center justify-content-end">
            <button data-bs-toggle="modal" data-bs-target="#updateInfo"
                    type="button" class="editBtn">
              <fa-icon [icon]="['fas', 'pen']"></fa-icon>
            </button>
            <app-update-info [loggedUser]="user"></app-update-info>

          </div>
          <div class="col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                      </div>
                      <div class="col-10">
                          <span>
                            {{user.state}}, {{user.city}}.
                          </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['far','envelope']"></fa-icon>
                      </div>
                      <div class="col-10">
                            <span>
                              {{user.email}}.
                            </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas','phone-alt']"></fa-icon>
                      </div>
                      <div class="col-10">
                            <span>
                              {{user.phoneNumber}}.
                            </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2 mb-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas','user-friends']"></fa-icon>
                      </div>
                      <div class="col-10">
                        <a class="extraInfo" [routerLink]="'/user/'+user.id+'/followers'">
                        <span class="detailField">
                          {{user.followersCount}}
                        </span>
                          {{'profilePage.info.followers' | translate}}
                        </a>
                        ·
                        <a class="extraInfo" [routerLink]="'/user/'+user.id+'/following'">
                        <span class="detailField">
                          {{user.followingCount}}
                        </span>
                          {{'profilePage.info.following' | translate}}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 pe-md-0 pe-md-5">
      <div class="container-lg detailsSection mb-3">
        <div class="row py-2 pb-3">
          <div class="col-6 my-2">
            <h3 class="sectionTitle text-left">
              {{'profilePage.subtitle.account' | translate}}
            </h3>
          </div>
          <div class="col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 ps-0">
                  <h1 class="extraInfo mb-0">
                        <span class="detailField">
                          {{'profilePage.subtitle.state' | translate}}
                        </span>
                    <span>
                      <ng-template [ngIf]="user.roles.includes('VERIFIED')" [ngIfElse]="notVerified">
                              {{'profilePage.subtitle.verified' | translate}}
                        <fa-icon [icon]="['fas','check']" class="ms-1" style="color: green"></fa-icon>
                      </ng-template>
                       <ng-template #notVerified>
                              {{'profilePage.subtitle.notVerified' | translate}}
                         <fa-icon [icon]="['fas','times']" class="ms-1" style="color: darkred"></fa-icon>
                       </ng-template>
                    </span>
                  </h1>
                </div>
                <div class="col-12 ps-0 mt-2">
                  <h1 class="extraInfo mb-0">
                        <span class="detailField">
                          {{'profilePage.subtitle.provider' | translate}}
                        </span>
                    <span>
                      <ng-template [ngIf]="user.roles.includes('PROVIDER')" [ngIfElse]="notProvider">
                              {{'profilePage.subtitle.active' | translate}}
                        <fa-icon [icon]="['fas','check']" class="ms-1" style="color: green"></fa-icon>
                      </ng-template>
                       <ng-template #notProvider>
                              {{'profilePage.subtitle.inactive' | translate}}
                         <fa-icon [icon]="['fas','times']" class="ms-1" style="color: darkred"></fa-icon>
                         <a *ngIf="user.roles.includes('VERIFIED')" class="ms-2" [routerLink]="['/user/join']"
                            style="font-weight: 500">
                              {{'profilePage.subtitle.join' | translate}}
                         </a>
                      </ng-template>
                    </span>
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- NOT VERIFIED POPUP-->
    <div class="modal fade" (hide.bs.modal)="onClose()" tabindex="-1" data-show="true" id="notVerifiedModal">
      <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid pt-3">
              <div class="row align-items-center justify-content-center">
                <div class="col-12">
                  <h1 class="text-center" style="font-size: 18px;font-weight: bold">
                    {{'errors.notVerified.title' | translate}}
                  </h1>
                </div>
                <div class="col-12 mt-2">
                  <h2 class="text-center" style="font-size: 18px">
                    {{'errors.notVerified.notRecieved' | translate}}
                  </h2>
                </div>
                <div class="col-8 mt-2">
                  <button [disabled]="disable" (click)="onVerify()" class="w-100 continueBtn my-2">
                    <span *ngIf="!disable">
                    {{'errors.notVerified.resend' | translate}}
                    </span>
                    <span class="spinner-border spinner-border-sm" [hidden]="!disable"></span>
                  </button>
                </div>
                <div *ngIf="success" class="col-12 mt-2">
                  <h2 class="text-center" style="font-size: 18px; color:#4BB543">
                    {{'errors.notVerified.sent' | translate}}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
