<div class="container-lg userContainerProfile pb-4 px-2">
  <div *ngIf="!loading" class="row justify-content-center">
    <!--  USER PICTURES-->
    <div class="col-12 px-0">
      <div class="container-fluid px-0 position-relative backgroundImageContainer">
        <img alt="profile cover picture"
             [src]="user.coverImage ? user.coverImage : 'assets/images/defaultCoverImage.jpg'"
             class="backgroundImage">
      </div>
    </div>

    <div class="col-12 mt-4">
      <div class="container-fluid px-0">
        <div class="row align-items-center position-relative justify-content-center">
          <div class="profilePictureContainer px-0">
            <div class="picContainer">
              <img alt="profile picture"
                   [src]="user.profileImage ? user.profileImage : 'assets/images/defaultProfileImage.png'"
                   class="profilePicture">
            </div>
          </div>
          <div class="col-8 mt-5">
            <h1 class="userSectionTitles text-center names">
              {{user.name}} {{user.surname}}
            </h1>
          </div>
          <div class="followBtnContainer">
            <div *ngIf="!!loggedUser" class="followBtnContainer">
              <button [disabled]="disable" (click)="unfollow()" *ngIf="user.followed, else notFollowed"
                      class="followBtn">
                <span *ngIf="!disable">{{'profilePage.unfollow' | translate }}</span>
                <span class="spinner-border spinner-border-sm" [hidden]="!disable"></span>
              </button>
              <ng-template #notFollowed>
                <button [disabled]="disable" (click)="follow()" class="followBtn">
                  <span *ngIf="!disable">{{'profilePage.follow' | translate}}</span>
                  <span class="spinner-border spinner-border-sm" [hidden]="!disable"></span>
                </button>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 px-0 my-2">
      <div class="container-lg px-5">
        <hr>
      </div>
    </div>

    <!-- USER INFO -->
    <div class="col-12 col-md-6 ps-md-0 ps-md-5">
      <div class="container-lg detailsSection">
        <div class="row py-2">
          <div class="col-6 my-2">
            <h3 class="sectionTitle text-left">
              {{'profilePage.subtitle.contact' | translate}}
            </h3>
          </div>
          <div class="col-12">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
                      </div>
                      <div class="col-10">
                          <span>
                            {{user.state}}, {{user.city}}.
                          </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['far','envelope']"></fa-icon>
                      </div>
                      <div class="col-10">
                            <span>
                              {{user.email}}.
                            </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas','phone-alt']"></fa-icon>
                      </div>
                      <div class="col-10">
                            <span>
                              {{user.phoneNumber}}.
                            </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-2 mb-2">
                  <div class="container-fluid px-0">
                    <div class="row">
                      <div class="col-1 d-flex align-items-center justify-content-center">
                        <fa-icon [icon]="['fas','user-friends']"></fa-icon>
                      </div>
                      <div class="col-10">
                        <a class="extraInfo" [routerLink]="'/user/'+user.id+'/followers'">
                        <span class="detailField">
                          {{user.followersCount}}
                        </span>
                          {{'profilePage.info.followers' | translate }}
                        </a>
                        ·
                        <a class="extraInfo" [routerLink]="'/user/'+user.id+'/following'">
                        <span class="detailField">
                          {{user.followingCount}}
                        </span>
                          {{'profilePage.info.following' | translate }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
