<div class="container-lg d-flex flex-column recentContacts p-3">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="sent-tab" data-bs-toggle="tab" data-bs-target="#sent" type="button" role="tab"
              aria-controls="sent" aria-selected="false">
        {{ 'requests.sent' | translate }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="received-tab" data-bs-toggle="tab" data-bs-target="#received" type="button"
              role="tab"
              aria-controls="received" aria-selected="true">
        {{ 'requests.received' | translate }}
      </button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="sent" role="tabpanel" aria-labelledby="profile-tab">

    </div>
    <div class="tab-pane fade" id="received" role="tabpanel" aria-labelledby="received-tab">...</div>
  </div>
</div>
