<div class="container-fluid">
  <ng-template [ngIf]="isLoading" [ngIfElse]="alreadyFetched">
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <ng-template #alreadyFetched>
    <ng-container [ngSwitch]="notification.type">
      <ng-container *ngSwitchCase="requestRejected">

        <div class="row">
          <div class="col-7 d-flex justify-content-start">
            <h1 class="sectionTitle">
              {{ 'account.notifications.jobRequest.rejected.title' | translate }}
            </h1>
          </div>
          <div class="col-3 d-flex justify-content-end">
            {{this.notification.date | date:'yyyy-MM-dd hh:mm'}}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{'account.notifications.jobRequest.rejected.body' | translate }}
            <a [routerLink]="'/jobs/'+jobRequest.jobId" class="contactInfo names">
              {{jobRequest.jobProvided}}
            </a>
            {{'account.notifications.jobRequest.rejected.body2' | translate }}
            <a class="contactInfo names" (click)="notificationClick()" style="cursor: pointer;">
              {{'account.notifications.jobRequest.rejected.body3' | translate }}
            </a>
          </div>
        </div>

      </ng-container>

      <ng-container *ngSwitchCase="requestAccepted">

        <div class="row">
          <div class="col-7 d-flex justify-content-start">
            <h1 class="sectionTitle">
              {{ 'account.notifications.jobRequest.accepted.title' | translate }}
            </h1>
          </div>
          <div class="col-3 d-flex justify-content-end">
            {{this.notification.date | date:'yyyy-MM-dd hh:mm'}}
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            {{'account.notifications.jobRequest.accepted.body' | translate }}
            <a [routerLink]="'/jobs/'+jobRequest.jobId" class="contactInfo names">
              {{jobRequest.jobProvided}}
            </a>
            {{'account.notifications.jobRequest.accepted.body2' | translate }}
            <a class="contactInfo names" (click)="notificationClick()" style="cursor: pointer;">
              {{'account.notifications.jobRequest.accepted.body3' | translate }}
            </a>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="requestFinished">

        <div class="row">
          <div class="col-7 d-flex justify-content-start">
            <h1 class="sectionTitle">
              {{ 'account.notifications.jobRequest.finished.title' | translate }}
            </h1>
          </div>
          <div class="col-3 d-flex justify-content-end">
            {{this.notification.date | date:'yyyy-MM-dd hh:mm'}}
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{'account.notifications.jobRequest.finished.body' | translate }}
            <a [routerLink]="'/jobs/'+jobRequest.jobId" class="contactInfo names">
              {{jobRequest.jobProvided}}
            </a>
            {{'account.notifications.jobRequest.finished.body2' | translate }}
            <a class="contactInfo names" (click)="notificationClick()" style="cursor: pointer;">
              {{'account.notifications.jobRequest.finished.body3' | translate }}
            </a>
          </div>
        </div>

      </ng-container>

    </ng-container>

  </ng-template>

</div>
