<div class="container-fluid" id="mainContainer" style="height: 60vh">
  <div class="row h-100 align-items-center ">
    <div class="col-12">
      <div class="container-fluid px-0">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center mb-4">
            <img src="assets/images/errors.png" alt="Error image"
                 style="object-fit: cover; width: 400px; height: 200px;">
          </div>

          <div class="col-12 d-flex justify-content-center align-items-center">
            <h1>{{ code }}</h1>
          </div>

          <div class="col-12 d-flex justify-content-center align-items-center">
            <p>{{ this.i18+'.description' | translate }}</p>
          </div>

          <div class="col-12 d-flex justify-content-center align-items-center">
            <a [routerLink]="['/']" style="font-size: 18px;">
              {{ 'navBar.home' | translate }}
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
