<a type="button" id="jobReviewLink" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  {{ 'job.review.hyperlink' | translate }}
</a>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="container-lg roundedBorder p-4" style="background-color: #FAFAFA; border-radius: 8px">
        <div class="row">
          <div class="col-12">
            <form [formGroup]="reviewForm" id="reviewForm"
                  class="reviewForm px-0" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>
                  {{ 'reviewForm.descriptionTitle' | translate }} <span class="required-field">*</span>
                </label>
                <textarea formControlName="description" id="reviewFormTextArea"
                          class="form-control" style="resize: none;"></textarea>
                <span *ngIf="!reviewForm.get('description').valid && reviewForm.get('description').touched">
            <span *ngIf="reviewForm.get('description').errors['required']" class="errorMessage">
              {{'NotEmpty.reviewForm.description' | translate }}<br>
            </span>

            <span *ngIf="reviewForm.get('description').errors['minlength']" class="errorMessage">
              {{'Size.reviewForm.description' | translate: {min: minDescLength, max: maxDescLength} }}<br>
            </span>
            <span *ngIf="reviewForm.get('description').errors['maxlength']" class="errorMessage">
              {{'Size.reviewForm.description' | translate: {min: minDescLength, max: maxDescLength} }}
            </span>
          </span>

              </div>
              <div class="form-group">
                <label>
                  {{ 'reviewForm.qualificationTitle' | translate }}
                  <span class="required-field">*</span>
                </label>
                <select class="form-control" formControlName="rating">
                  <option *ngFor="let rate of rates" [value]="rate">{{rate}}</option>
                </select>

                <span *ngIf="!reviewForm.get('rating').valid">
            <span *ngIf="reviewForm.get('rating').errors['required']" class="errorMessage">
              {{'NotEmpty.reviewForm.rating' | translate }}<br>
            </span>

            <span *ngIf="reviewForm.get('description').errors['min']" class="errorMessage">
              {{'Pattern.reviewForm.rating' | translate: {min: minRate, max: maxRate} }}<br>
            </span>
            <span *ngIf="reviewForm.get('description').errors['max']" class="errorMessage">
              {{'Pattern.reviewForm.rating' | translate: {min: minRate, max: maxRate} }}
            </span>
          </span>
              </div>

              <div class="col-12 d-flex justify-content-start align-items-center py-4">
                <button type="button" data-bs-dismiss="modal" (click)="onClose()" id="reviewFormCloseButton" class="closeBtn">
                  {{ 'reviewForm.cancelButtonText' | translate }}
                </button>
                <button id="reviewFormButton" type="submit" [disabled]="disabled" class="rateBtn ms-4">
                  <span class="spinner-border spinner-border-sm" [hidden]="!disabled"></span>
                  <span *ngIf="!disabled">{{ 'reviewForm.submitButtonText' | translate }}</span>

                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
