<div class="container-fluid py-4 px-0 d-flex align-items-center">
  <div class="container-lg p-5 mt-5 smallContentContainer">
    <div class="row w-100 h-100 m-0 align-items-center justify-content-center">
      <div class="col-12">
        <h1 class="text-center title">
          {{'account.password.reset.instruction' | translate }}
        </h1>
      </div>
      <div class="col-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 mt-4">
              <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

                <input type="hidden" name="token" value="${token}"/>
                <div class="form-group">
                  <label>
                    {{'account.password.reset.newPasswordLabel' | translate }}<span class="required-field">*</span>
                  </label>
                  <div class="input-group d-flex justify-content-start align-items-center">
                    <input formControlName="password" [type]="showPass1 ? 'password':'text'" class="form-control input"
                           id="password1"
                           name="password"/>
                    <div class="input-group-append">
                      <button type="button" tabindex="-1" (click)="toogleEye1()"
                              class="form-control input-group-text passwordInput">
                        <fa-icon [icon]="['far',showPass1 ? 'eye-slash' : 'eye']"></fa-icon>
                      </button>
                    </div>

                  </div>
                  <span *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched">
                        <span *ngIf="resetPasswordForm.get('password').errors['required']" class="errorMessage">
                          {{'NotEmpty.resetPasswordForm.password' | translate }}<br>
                        </span>
                        <span
                          *ngIf="resetPasswordForm.get('password').errors['minlength'] || resetPasswordForm.get('password').errors['maxlength']"
                          class="errorMessage">
                          {{'Size.resetPasswordForm.password' | translate:
                          {min: minPasswordLength, max: maxPasswordLength} }}
                        </span>
                  </span>
                </div>
                <div class="form-group">
                  <label class="mt-2">
                    {{'account.password.reset.newPasswordConfirmLabel' | translate }}<span
                    class="required-field">*</span>
                  </label>
                  <div class="input-group d-flex justify-content-start align-items-center">
                    <input formControlName="confirmPassword" [type]="showPass2 ? 'password':'text'"
                           class="form-control input"
                           id="password2" name="confirmPassword"/>
                    <div class="input-group-append">
                      <button type="button" tabindex="-1" (click)="toogleEye2()"
                              class="form-control passwordInput input-group-text">
                        <fa-icon [icon]="['far',showPass2 ? 'eye-slash' : 'eye']"></fa-icon>
                      </button>
                    </div>

                  </div>
                  <span
                    *ngIf="!resetPasswordForm.get('confirmPassword').valid && resetPasswordForm.get('confirmPassword').touched">
                        <span *ngIf="resetPasswordForm.get('confirmPassword').errors['required']" class="errorMessage">
                          {{'NotEmpty.resetPasswordForm.password' | translate }}<br>
                        </span>
                          <span *ngIf="resetPasswordForm.get('confirmPassword').errors['passwordsDontMatch']"
                                class="errorMessage">
                          {{'FieldsValueMatch.resetPasswordForm' | translate}}
                        </span>
                        <span
                          *ngIf="resetPasswordForm.get('confirmPassword').errors['minlength'] || resetPasswordForm.get('confirmPassword').errors['maxlength']"
                          class="errorMessage">
                          {{'Size.resetPasswordForm.password' | translate:
                          {min: minPasswordLength, max: maxPasswordLength} }}
                        </span>

                    </span>
                </div>

                <div class="col-12 mt-2 d-flex align-items-center justify-content-center">
                  <button type="submit" class="w-100 continueBtn my-2">
                    {{'account.password.reset.applyBtn' | translate }}
                  </button>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
