<div class="container-fluid py-4 px-0 d-flex align-items-center">
  <div class="container-lg p-5 mt-5 smallContentContainer">
    <div class="row w-100 h-100 m-0 align-items-center justify-content-center">
      <div class="col-12">
        <h1 class="text-center title">
          {{'account.password.reset.instruction' | translate }}
        </h1>
      </div>
      <div class="col-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 mt-4">
              <input type="hidden" name="token" value="${token}"/>
              <div class="form-group">
                <label>
                  {{'account.password.reset.newPasswordLabel' | translate }}
                </label>
                <div class="input-group d-flex justify-content-start align-items-center">
                  <input [type]="showPass1 ? 'password':'text'" class="form-control input"
                         id="password1"
                         name="password" cssErrorClass="form-control is-invalid"/>
                  <div class="input-group-append">
                    <button type="button" tabindex="-1" (click)="toogleEye1()"
                            class="form-control input-group-text passwordInput">
                      <fa-icon [icon]="['far',showPass1 ? 'eye-slash' : 'eye']"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="mt-2">
                  {{'account.password.reset.newPasswordConfirmLabel' | translate }}
                </label>
                <div class="input-group d-flex justify-content-start align-items-center">
                  <input [type]="showPass2 ? 'password':'text'"
                         class="form-control input"
                         id="password2" name="confirmPassword"
                         cssErrorClass="form-control is-invalid"/>
                  <div class="input-group-append">
                    <button type="button" tabindex="-1" (click)="toogleEye2()"
                            class="form-control passwordInput input-group-text">
                      <fa-icon [icon]="['far',showPass2 ? 'eye-slash' : 'eye']"></fa-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-2 d-flex align-items-center justify-content-center">
              <button type="button" class="w-100 continueBtn my-2">
                {{'account.password.reset.applyBtn' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
