.passwordInput {
  color: #676767;
}

.passwordInput:hover {
  color: black;
}

.passwordInput:focus {
  border: 1px solid #ced4da;
  background-color: #e9ecef;;
  box-shadow: none;
}

.registerForm {
  width: 500px;
  margin: auto;
}
