.contactInfo {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.25;
}

a {
  font-weight: 500;
  color: black;
  transition: hover 1s;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 104, 192);
  text-decoration: none;
}
