<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="sectionTitle">
        {{ 'account.notifications.jobRequest.new.title' | translate }}
      </h1>
    </div>
    <div class="col-12">
      <a [routerLink]="'/user/'+jobRequest.provider.id" class="contactInfo names">
        {{ jobRequest.provider.name }} {{ jobRequest.provider.surname }}
      </a>
      {{'account.notifications.jobRequest.new.body' | translate }}
<!--      <a [routerLink]="'/user/'+jobRequest.provider.id" class="contactInfo names" (click)="on">-->
<!--        {{'account.notifications.jobRequest.new.body2' | translate }}-->
<!--      </a>-->
    </div>
  </div>
</div>
