<!--<div class="container-fluid outerContainer">-->
<!--  <div class="row min-vh-100">-->
<!--    <div class="col-12">-->
<!--      <app-navbar></app-navbar>-->
<!--    </div>-->
<!--    <div class="col-12 mb-4">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--    <div class="col-12 d-flex align-self-end px-0 flex-fill">-->
<!--      <app-footer class="d-flex flex-grow-1"></app-footer>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="container-fluid px-0 outerContainer">-->
<!--  <app-navbar></app-navbar>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->
<div class="container-fluid outerContainer">
  <div class="row min-vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 px-0">
          <app-navbar></app-navbar>
        </div>
        <div class="col-12 px-0 mt-4 mb-5">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex align-self-end px-0 flex-fill">
      <app-footer class="d-flex flex-grow-1"></app-footer>
    </div>
  </div>
</div>
<!--<div class="container-fluid outerContainer px-0 d-flex flex-column justify-content-center align-content-between">-->
<!--  <app-navbar class="vw-100 d-flex"></app-navbar>-->
<!--  <div class="vw-100 d-flex flex-grow-1 mb-4 justify-content-center align-items-center">-->
<!--    <router-outlet class="d-flex flex-grow-2"></router-outlet>-->
<!--  </div>-->
<!--  <app-footer class="vw-100 d-flex"></app-footer>-->
<!--</div>-->
