<div class="container-lg userContainerProfile pb-4 px-0">

  <div class="row">

    <div class="col-3">

      <div class="nav flex-column nav-pills" role="tablist" id="tabList">

        <button class="nav-link list-group-item list-group-item-action"
                [ngClass]="{'active' : activeTab==='dashboard', 'inactive': activeTab!=='dashboard'}"
                (click)="changeTab('dashboard')"
                data-bs-toggle="pill">
          <fa-icon [icon]="['fas', 'chart-line']" class="me-2"></fa-icon>
          <span class="text">
            {{'navBar.dashboard' | translate}}
          </span>
        </button>

        <button class="nav-link list-group-item list-group-item-action"
                [ngClass]="{'active' : activeTab==='works', 'inactive':  activeTab!=='works'} "
                (click)="changeTab('works')">
          <fa-icon [icon]="['fas', 'wrench']" class="me-2"></fa-icon>
          <span class="text">
            {{'dashboard.Work' |translate}}
          </span>
          <span
            class="badge rounded-pill bg-secondary">
            {{user.providerDetails.jobsCount}}
          </span>
        </button>

        <button class="nav-link list-group-item list-group-item-action"
                [ngClass]="{'active' : activeTab==='contacts', 'inactive':  activeTab!=='contacts'}"
                (click)="changeTab('contacts')">
          <fa-icon [icon]="['fas', 'address-book']" class="me-2"></fa-icon>
          <span class="text">{{'dashboard.Contacts' | translate}}</span>
          <span class="badge rounded-pill bg-secondary">
            {{user.providerDetails.contactsCount}}
          </span>
        </button>

      </div>

    </div>

    <div class="col-9">
      <div class="card">
        <div class="card-header" id="panelTitle">
          {{'dashboard.' + activeTab.charAt(0).toUpperCase() + activeTab.slice(1) | translate}}
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="tab-content w-100">
                <!-- Dashboard -->
                <div class="tab-pane fade" role="tabpanel" id="dashboard"
                     [ngClass]="{'show active' : activeTab==='dashboard'}">
                  <div class="col-12">
                    <div class="container-fluid p-0">
                      <div class="row align-items-center justify-content-between">
                        <div class="col-4">
                          <div class="card card-body info-box">
                            <h2>
                              <fa-icon [icon]="['fas', 'wrench']" class="me-2"></fa-icon>
                              {{user.providerDetails.jobsCount}}
                            </h2>
                            <h4>{{'dashboard.Works' | translate}}</h4>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="card card-body info-box">
                            <h2>
                              <fa-icon [icon]="['fas', 'star']" class="me-2"></fa-icon>
                              {{user.providerDetails.avgRating}}
                            </h2>
                            <h4>{{'dashboard.Rating' | translate}}</h4>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="card card-body info-box">
                            <h2>
                              <fa-icon [icon]="['fas', 'comment']"></fa-icon>
                              {{user.providerDetails.reviewCount}}
                            </h2>
                            <h4>{{'dashboard.Reviews' | translate}}</h4>
                          </div>
                        </div>
                        <div class="col-12 px-0 my-2">
                          <div class="container-lg px-3">
                            <hr>
                          </div>
                        </div>
                        <div class="col-12 px-0">
                          <div class="container">
                            <div class="row align-items-center justify-content-start">
                              <div class="col-11 mb-4">
                                <h3 class="sectionTitle text-left mb-0">
                                  {{'dashboard.providerDetails' | translate}}
                                </h3>
                              </div>
                              <div class="col-1  mb-4 d-flex align-items-center justify-content-end">
                                <button [routerLink]="['/user','account','updateProviderInfo']" class="editBtn">
                                  <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                                </button>
                              </div>
                              <div class="col-12">
                                <div class="container-fluid px-0">
                                  <div class="row">
                                    <div class="col-6">
                                      <div class="card card-body h-100 position-relative">
                                        <div class="row">
                                          <div style="position: absolute; top: -15px;left: -20px">
                                            <fa-icon [icon]="['fas', 'compass']" size="2x" class="info-box"></fa-icon>
                                          </div>
                                          <div class="col-12">
                                            <span class="fw-bold">{{'contactForm.state' | translate}}:</span>
                                            <span>
                                              {{user.providerDetails.location.state.name}}
                                            </span>
                                          </div>
                                          <div class="col-12">
                                            <p class="text-left mb-0">
                                              <span class="fw-bold">{{'job.information.city' | translate}}</span>
                                              <ng-container
                                                *ngFor="let city of user.providerDetails.location.cities; let i = index; let last = last">
                                                {{city.name}}
                                                <ng-container *ngIf="!last">,</ng-container>
                                              </ng-container>
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-6">
                                      <div class="card card-body h-100 position-relative">
                                        <div class="row">
                                          <div style="position: absolute; top: -15px;left: -20px">
                                            <fa-icon [icon]="['fas', 'clock']" size="2x" class="info-box"></fa-icon>
                                          </div>
                                          <div class="col-1 d-flex align-items-center justify-content-center">
                                          </div>
                                          <div class="col-12">
                                            <p class="text-left m-0">
                                              <span class="fw-bold">{{'job.information.time' | translate}}</span>
                                            </p>
                                          </div>
                                          <div class="col-12">
                                            <p class="text-left m-0">
                                              {{'job.information.from' | translate: {from: user.providerDetails.schedule.startTime} }}
                                              {{'job.information.to' | translate: {to: user.providerDetails.schedule.endTime} }}
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" role="tabpanel" id="works" [ngClass]="{'show active' : activeTab==='works'}">
                  <app-works></app-works>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="contacts"
                     [ngClass]="{'show active' : activeTab==='contacts'}">
                  <app-request></app-request>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
